{{template "header" .}}
<main id="app-main">
  <div class="graph-container">
    <svg id="graph" height="100%" width="95%">
      <g id="x-axis-legend">
        {{ range .TempAxisLegend }}
          <text x="5" y="{{ .Height }}" textLength="30" data-temperature="{{ .Temperature }}">{{ .Temperature }} °F</text>
        {{ end }}
      </g>
      <g id="y-axis-ticks">
      </g>
      <g id="x-axis-ticks">
      </g>
      <g id="cursor-container">
        <path id="cursor" class="graph-line" stroke="red" strokewidth="2" d="M 65 0 V 800"></path>
      </g>
      {{ range .GraphLines }}
        <path id="line-{{.Id}}" d="{{.SvgPath}}" fill="none" stroke="{{.LineColor}}" stroke-width="2"></path>
      {{ end }}
    </svg>
    <script id="data-lookup" type="application/javascript">
      window.rawSharedData = "{{ .JsonLookup }}";
      window.rawMeta = "{{ .JsonMeta }}";
    </script>
  </div>
</main>
<footer id="app-footer">
  <div id="legend" class="columns">
    {{ range .SensorLegends }}
    <div id="legend-{{.Id}}" class="graph-legend">
      <svg id="legend-swatch-{{.Id}}" height="16" width="26">
        <rect x="0" y="0" height="16" width="16" fill="{{.Color}}" stroke="black" strokewidth="1"></rect>
      </svg>
      {{.Name}}:
      <span id="temp-{{.Id}}">{{.InitialTemp}}</span>
    </div>
    {{ end }}
    </div>
    <div>{{ .MinTime }}</div>
    <div id="current-time">[Hover]</div>
    <div>{{ .MaxTime }}</div>  
</footer>
{{template "footer" .}}