{{define "header"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{if .Title}}{{.Title}}{{else}}Temps{{end}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="data:;base64,=">
  <link rel="stylesheet" href="/static/bulma.min.css">
  <link rel="stylesheet" href="/static/app.css">
  <script src="/static/app.js"></script>
</head>

<body>
  <nav id="app-nav" class="navbar is-link" role="navigation">
    <div class="navbar-brand">
      <a id="burger" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="mainNavbar" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/">Now</a>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">Graph</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="/graph?time=hour">Hour</a>
            <a class="navbar-item" href="/graph?time=day">Day</a>
            <a class="navbar-item" href="/graph?time=week">Week</a>
            <a class="navbar-item" href="/graph?time=month">Month</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
{{end}}