g,
path {
  pointer-events: none;
}

#graph {
  border: 1px solid black;
}

.graph-line {
  position: fixed;
}

html {
  height: 97%;
}

body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  touch-action: none;
}

#app-nav {
  flex: 0 1 auto;
}

#app-footer {
  flex: 0 1 auto;
}

#app-main {
  flex: 1 1 auto;
}

.graph-container {
  height: 100%;
  width: 100%;
  justify-content: left;
}

.graph-legend {
  padding-top: 15px;
  padding-left: 15px;
}