{{template "header" .}}
<main id="app-main">
  <div class="container has-text-centered">
    <h1 class="is-size-1">Current Temps:</h1>
    {{range .temps}}
      <div>
        <h2 class="is-size-2">
          {{ .Name }}
        </h2>
        <p>
          {{ .Temperature }}°F {{ .MinutesAgo }}
        </p>
      </div>
    {{end}}
  </div>
</main>
{{template "footer" .}}